@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(226, 226, 226);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer h1 {
  font-size: 1.5rem;
  padding: 1rem;
  color: rgb(139, 139, 139);
  letter-spacing: 0.25rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-box {
  color: rgb(65, 65, 65);
  background-color: #fafafa;
  width: 40%;
  border: 1px solid rgba(156, 156, 156, 0.7);
  padding: 3rem;
  border-radius: 5px;
}

.quote-box h1 {
  width: 100%;
  text-align: justify;
  margin-bottom: 1rem;
}

.big-quote {
  font-size: 3rem;
  color: steelblue;
  margin: 0.5rem;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-right: 1rem;
}

.hidey {
  font-size: 0;
}

.button {
  background-color: steelblue;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fafafa;
  text-transform: uppercase;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 678px) {
  .quote-box {
    width: 90%;
  }
}
